@{ 
    Script.Include("Lib.js").AtFoot();

}
<div ng-app="AsyncShapes">

  
        <input ng-model="contentItemId" type="text" /><button ng-click="updateItem(contentItemId)">Get</button>

        <select ng-model="displayType">
            <option value="Detail">Detail</option>
            <option value="Detail">Details</option>
            <option value="Summary">Summary</option>
        </select>

        <rv-content-item content-item-id="{{contentItemId}}" display-type="{{displayType}}"></rv-content-item>

</div>

