@{ 
    Script.Include("Lib.js").AtFoot();

}
<div ng-app="AsyncShapes">

    <div ng-controller="AsyncShapesCntrl">
        <input ng-model="contentItemId" type="text" /><button ng-click="updateItem(contentItemId)">Get</button>

        <div ng-include="model.templateUrl"></div>

    </div>

</div>

