<input ng-model="contentItemId" type="text" /><button ng-click="getContentItem(contentItemId)">Get</button>

<div ng-include="'/OrchardLocal/raven.asyncshapes/templates/index?contenttype=' + model.contentType + 'displayType=' + model.displayType" ></div>
